<div class="container">
  <div class="row">
    <h2>User info</h2>
    <%= image_tag user.get_profile_image %>
    <table class="table table-striped row">
      <tbody>
        <tr>
          <th>
            name
          </th>
          <td>
            <%= user.name %>
          </td>
        </tr>
        <tr>
          <th>
            introduction
          </th>
          <td>
            <%= user.introduction %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to "/users/#{user.id}/edit", class: "btn" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
    
    <h2>New book</h2>
    <% if book.errors.any? %>
      <%= book.errors.count %> errors prohibited this user from being saved:
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
    <%= form_with model: book, url: '/books', method: :post do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
    
      <p>Opinion</p>
      <%= f.text_area :opinion %>
    
      <%= f.submit 'Create Book', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
