<div class="mx-auto">
  <h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form_with model: @book do |f| %>
    <p>Title</p>
    <div class="container-fluid">
      <%= f.text_field :title %>
    </div>
    <p>Opinion</p>
    <div class="container-fluid">
      <%= f.text_area :opinion %>
    </div>
    <%= f.submit 'Update Book', class: "btn btn-success" %>
  <% end %>
  <span>
    <%= link_to "show", book_path(@book.id) %>
    |
    <%= link_to "Back", "/books" %>
  </span>
</div>
