<div>
  <%= flash[:notice] %>
</div>

<%= render 'list', book: @book, user: @user %>

<h1>Books</h1>
<% @books.each do |book| %>
<table>
  <thead>
    <th>Title</th>
    <th>Opinion</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <span><%= link_to "#{book.title}", book_path(book.id) %></span>
      </td>
      <td><%= book.opinion %></td>
      <td>
        <span>
          <%= link_to "Edit", edit_book_path(book.id) %>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
          <% end %>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<% end %>