<%= render 'list', book: @book, user: @user %>

<h2>Book detail</h2>
<div>
  <%= flash[:notice] %>
</div>

<%= image_tag @user.get_profile_image %>
<span><%= link_to "#{@user.name}", books_path %></span>

<p>
  <span><%= link_to "#{@book.title}", book_path(@book.id) %></span>
  <%= @book.opinion %>
</p>
<span>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
</span>
