<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', book: @book, user: @user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <span>
                <%= image_tag @user.get_profile_image %>
                <%= link_to "#{@user.name}", user_path(@user.id) %>
              </span>
            </td>
            <td>
              <span><%= link_to "#{@book.title}", book_path(@book.id) %></span>
            </td>
            <td><%= @book.opinion %></td>
            <span>
              <td>
                <%= link_to edit_book_path(@book.id), class: 'btn btn-success' do %>
                  Edit
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn btn-danger' do %>
                  Destroy
                <% end %>
              </td>
            </span>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
